In [17]:
import numpy as np
import pandas as pd
import matplotlib
from matplotlib import pyplot as plt
%matplotlib inline

In [18]:
forestfire = pd.read_csv("/Users/shobhit/Documents/python/GitHub/PythonCode/forestfire.csv")

In [19]:
recent_grads = pd.read_csv("/Users/shobhit/Documents/python/GitHub/PythonCode/collegemajors/recent-grads.csv")

In [20]:
print(all_ages.head())

   Major_code                                  Major  \
0        1100                    GENERAL AGRICULTURE
1        1101  AGRICULTURE PRODUCTION AND MANAGEMENT
2        1102                 AGRICULTURAL ECONOMICS
3        1103                        ANIMAL SCIENCES
4        1104                           FOOD SCIENCE

                    Major_category   Total  Employed  \
0  Agriculture & Natural Resources  128148     90245
1  Agriculture & Natural Resources   95326     76865
2  Agriculture & Natural Resources   33955     26321
3  Agriculture & Natural Resources  103549     81177
4  Agriculture & Natural Resources   24280     17281

   Employed_full_time_year_round  Unemployed  Unemployment_rate  Median  \
0                          74078        2423           0.026147   50000
1                          64240        2266           0.028636   54000
2                          22810         821           0.030248   63000
3                          64937        3619           0.042679   46000
4                          12722         894           0.049188   62000

   P25th    P75th
0  34000  80000.0
1  36000  80000.0
2  40000  98000.0
3  30000  72000.0
4  38500  90000.0

In [21]:
print(recent_grads.head())

   Rank  Major_code                                      Major Major_category  \
0     1        2419                      PETROLEUM ENGINEERING    Engineering
1     2        2416             MINING AND MINERAL ENGINEERING    Engineering
2     3        2415                  METALLURGICAL ENGINEERING    Engineering
3     4        2417  NAVAL ARCHITECTURE AND MARINE ENGINEERING    Engineering
4     5        2405                       CHEMICAL ENGINEERING    Engineering

   Total  Sample_size    Men  Women  ShareWomen  Employed      ...        \
0   2339           36   2057    282    0.120564      1976      ...
1    756            7    679     77    0.101852       640      ...
2    856            3    725    131    0.153037       648      ...
3   1258           16   1123    135    0.107313       758      ...
4  32260          289  21239  11021    0.341631     25694      ...

   Part_time  Full_time_year_round  Unemployed  Unemployment_rate  Median  \
0        270                  1207          37           0.018381  110000
1        170                   388          85           0.117241   75000
2        133                   340          16           0.024096   73000
3        150                   692          40           0.050125   70000
4       5180                 16697        1672           0.061098   65000

   P25th   P75th  College_jobs  Non_college_jobs  Low_wage_jobs
0  95000  125000          1534               364            193
1  55000   90000           350               257             50
2  50000  105000           456               176              0
3  43000   80000           529               102              0
4  50000   75000         18314              4440            972

[5 rows x 21 columns]

In [22]:
all_ages_major_categories = dict()
recent_grads_major_categories = dict()
def calculate_major_cat_totals(a):
    cats = a['Major_category'].value_counts().index
    counts_dictionary = dict()

    for c in cats:
        major_df = a[a["Major_category"] == c]
        total = major_df["Total"].sum(axis=0)
        counts_dictionary[c] = total
    return counts_dictionary

all_ages_major_categories = calculate_major_cat_totals(all_ages)
recent_grads_major_categories = calculate_major_cat_totals(recent_grads)

In [25]:

print (all_ages.Major_category.unique)

<bound method IndexOpsMixin.unique of 0          Agriculture & Natural Resources
1          Agriculture & Natural Resources
2          Agriculture & Natural Resources
3          Agriculture & Natural Resources
4          Agriculture & Natural Resources
5          Agriculture & Natural Resources
6          Agriculture & Natural Resources
7          Agriculture & Natural Resources
8                   Biology & Life Science
9          Agriculture & Natural Resources
10         Agriculture & Natural Resources
11                             Engineering
12               Humanities & Liberal Arts
13             Communications & Journalism
14             Communications & Journalism
15             Communications & Journalism
16             Communications & Journalism
17                 Computers & Mathematics
18                 Computers & Mathematics
19                 Computers & Mathematics
20                 Computers & Mathematics
21                 Computers & Mathematics
22                 Computers & Mathematics
23                 Computers & Mathematics
24     Industrial Arts & Consumer Services
25                               Education
26                               Education
27                               Education
28                               Education
29                               Education
                      ...
143                                   Arts
144              Humanities & Liberal Arts
145                                   Arts
146                                   Arts
147                                 Health
148                                 Health
149                                 Health
150                                 Health
151                                 Health
152                                 Health
153                                 Health
154                                 Health
155                                 Health
156                                 Health
157                                 Health
158                               Business
159                               Business
160                               Business
161                               Business
162                               Business
163                               Business
164                               Business
165                               Business
166                               Business
167                               Business
168                               Business
169                               Business
170                               Business
171              Humanities & Liberal Arts
172              Humanities & Liberal Arts
Name: Major_category, dtype: object>

In [27]:
print(all_ages_major_categories["Health"])

2950859

In [28]:
low_wage_percent = (recent_grads['Low_wage_jobs'].sum(axis=0))/(recent_grads['Total'].sum(axis=0))

In [29]:
print(low_wage_percent)

0.09852546076122913

In [40]:
majors = recent_grads['Major'].value_counts().index

recent_grads_lower_unemp_count = 0
all_ages_lower_unemp_count = 0


for m in majors:
    recent_grad = recent_grads[recent_grads['Major']== m]
    all_age = all_ages[all_ages['Major']== m]
    
    all_age_unmp = all_age['Unemployment_rate'].values[0]
    recent_grad_unmp = recent_grad['Unemployment_rate'].values[0]
    
    if all_age_unmp > recent_grad_unmp:
        recent_grads_lower_unemp_count +=1
    elif all_age_unmp < recent_grad_unmp:
        all_ages_lower_unemp_count += 1

In [41]:
print(recent_grads_lower_unemp_count)
print(all_ages_lower_unemp_count)

43
128